html{
    font-family: 'Hepta Slab', serif;
}

header{
    color: #FFFFFF;
    background: #2db34a;
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.head{
    border: 3px solid #FFFFFF;
    padding: 1em;
    text-align: center;
}
  
h1{
    margin: 0;  
}

h1.jobtitle{
    font-size: 20px;
}

.grid{
    display: grid;
    /*border: 2px blue solid;*/
    grid-template-columns: 20% 80%;
    grid-template-rows: 15% 85%;
    padding-left: 40px;
    padding-left: 40px;
}

.left-section{
    background-color:#fcf6f7;
    border: 2px #288961 solid;
    border-radius: 7px;
    padding: 20px;
}

.mypicture img{
    border-radius: 90px;
    height: 200px;
    width: 200px;
}
.item-1{
    display: flex;
}

.item-2{
    display: flex;
}

.contact-information img{
    height: 25px;
    width: 25px;
    padding-right: 1em;
}

.contact-information{
    padding-bottom: 1.7em;
}

/* .contact-item{
    display: flex;
} */

.contact-item{
    display: flex;
}

.social-media img{
    height: 25px;
    width: 25px;
    display: inline-block;
    padding-right: 7px;
}

.social-media{
    padding-top: 0.5em;
}

.social-m{
    display: flex;
    padding-top: 1em;
}


#instagram{
    display: inline-block;
}

.main-body{
    padding: 50px;
    background-color: #c9eee5;
}

h2{
    text-transform: uppercase;
}

.work-xp{
    display: inline-block;
}

.year{
    padding-right: 152px;
}

.years{
    padding-right: 50px;
}

.education{
    display: flex;
}

.year-wk{
    padding-right: 170px;
}

.year-comc{
    padding-right: 165px;
}

.year-uwi{
    padding-right: 137px;
}

/* .skill-set{
    display: flex;
} */

ul.skills-expert{
    display: grid;
    grid-template-columns: 50% 50%;
}

.skill-set{
    padding-right: 1.7em;
}

.skills-list{
    display: flex;
}