header{
    color: #FFFFFF;
    background: #2db34a;
    padding: 1em;
    width: 800px;
    height: 200px;
    display: flex;
  /*   flex-direction: row-reverse; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.head{
    border: 1px solid #FFFFFF;
    padding: 1em;
    text-align: center;
}
  
h1{
    margin: 0;  
}

h1.jobtitle{
    font-size: 20px;
}

.grid{
    display: grid;
    /*border: 2px blue solid;*/
    grid-template-columns: 20% 80%;
    padding: 40px;
}

.left-section{
    background-color: #c9eee5;
    border: 2px #288961 solid;
    border-radius: 7px;
    padding: 20px;
}

.mypicture img{
    border-radius: 90px;
    height: 200px;
    width: 200px;
}

.contact-information img{
    height: 15px;
    width: 15px;
}

.social-media img{
    height: 15px;
    width: 15px;
}

.main-body{
    padding: 50px;
}